<section class="card">
  <a href="/Blog/{{blog_id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <p>{{blog_post}}</p>
      <p>By: {{username}}</p>
      <p>Last Updated: {{update_date}}</p>
    </div>
  </a>
</section>