<section class="card">
  {{!-- <a href="/Blog/{{blog_id}}"> --}}
  <p></p>
    <header>{{title}}</header>

    <div class="card-body">
      <p>{{blog.blog_post}}</p>
      <p>By: {{blog.username}}</p>
      <p>Last Updated: {{blog.update_date}}</p>
    </div>
  </a>
</section>